<div>
  <h2><span translate="no">Dillon Downey</span> - Junior Web Developer</h2>
</div>

<div class="introContainer" itemscope itemtype="http://schema.org/Person">
  <section class=" introContainer__portfolioPicSection">
    <h3 class="sr-only">Portfolio picture</h3>
    <figure class=" introContainer__figure" itemprop="image">
      <%= image_tag("Dillon-500x333.jpg",
      width:"500",
      height:"333",
      alt:"Dillon Downey\'s portfolio picture",
      class:"") %>
      <figcaption>
        <h3>Junior Web Developer Seeking New Opportunities </h3>
      </figcaption>
    </figure>
    <%= render 'shared/social_media_nav' %>
  </section>

  <section class="introContainer__aboutMeSection">
    <h2 class="sr-only">About Me</h2>
    <p>
      Hi, my name is <span itemprop="name" translate="no" >Dillon </span>
      <span itemprop="familyName" translate="no">Downey</span>.
      I am a Dev Bootcamp graduate from San Francisco.  Prior to attending DBC,
      I was a Senior Store Manager for <span translate="no">GNC (General Nutrition Center)
      </span> in the San Francisco region for the last three years where my store
      was ranked in the top five.
    </p>
    <p>
      Through personal acquaintances I became intrigued by the tech industry.
      As I researched the possibility of becoming a <span itemprop="JobTitle">web developer</span>,
      I discovered this would be a fulfilling path to utilize my creativity and
      analytical thinking. Having gone through <span itemprop="alumniof" translate="no"> Dev BootCamp</span>’s
      19-week intensive course, I feel my decision is the right one and I look
      forward to the many challenges and opportunities that the tech community will provide.
    </p>
  </section>
</div>
<!-- TODO: Refactor so the h1 tag is within the section. -->

<div class="projectsHeader">
  <h1>Projects</h1>
</div>
<div class="projectSection">
  <% @projects.each do |project| %>
    <section>
      <h2><%= project.name %></h2>

      <figure id="<%= project.name %>" class=" projectSection__figure">
        <%= link_to project.url, class:"projectSection__Link" do %>
          <%= image_tag(project.avatar.url(:medium),
          width: "300",
          height: "300",
          alt: "#{project.description}",
          class: " projectSection__image") %>
        <% end %>
        <figcaption class="projectSection__figcaption">
          <ul>
            <li><span>Description:</span><%= project.description %></li>
            <li><span>Purpose:</span><%= project.purpose %></li>
            <li><span>Technology:</span><%= project.technology %></li>
            <li><span>Project Url:</span>
              <%= link_to project.url do %>
                <%= project.url %>
              <% end %>
            </li>
          </ul>
        </figcaption>
      </figure>
    </section>
  <% end %>
</div>
