<section id="skills-section" class="debug skills-section section container col-md-12">
  <h1>The Stack</h1>
  <p>The list keeps growing and growing.  I enjoying learning new languages and evolve with them as they change.</p>
  <div class="debug row">
    <!-- Ruby -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("ruby_badge.sh-250x250.png", alt: "Ruby Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Ruby is a very beautiful, powerful, and easy to use developer language that makes me proud to be a Rubyist!
      </p>
    </div>
      <!-- Ruby on Rails -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("rubyonrails_shaped.sh-250x250.png", alt: "Ruby on Rails Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Oh how "magical" Rails can be.  Convention over configuration is key to speed...if you're willing to sacrifice a little flexbility here and there.
      </p>
    </div>
    <!-- Sinatra -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("sinatra-333x250.jpg", alt: "Sinatra", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Light-weight and easy to use.  Sometimes a thin framework can outweigh the bulk of a Rails app.
      </p>
    </div>
  </div> <!-- closes first row -->
  <div class="debug row">
    <!-- JavaScript -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("js_bumper.sh-250x250.png", alt: "JavaScript Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Who would ever imagine a language built in ten days would be one of the most popular in the world?
      </p>
    </div>
    <!-- jQuery -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("jquery_bumper.sh-250x250.png", alt: "jQuery Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Making rich websites has never been easier with good ol' jQuery library.
      </p>
    </div>
    <!-- HTML5 -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("html5-250x250.png", alt: "HTML 5 Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        I can't forget about the skeleton of web development.  Watch out world HTML5 is here to stay officially as of <time datetime="2015-10">October 2014</time>.
      </p>
    </div>
  </div> <!-- closes second row -->
  <div class="debug row">
    <!-- CSS 3 -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("css3-250x250.png", alt: "CSS 3 Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Remember what websites looked like in the 90's?  Luckily you don't need to waste you time looking back because "where we are going we don't need roads." CSS 3 is taking us out of the ugly and into the beauty.
      </p>
    </div>
    <!-- Git -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("git_badge-250x250.png", alt: "Git Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Super Mario travelling from level to level is kind of like Git.  You can branch off and work on conquering a section while creating save points along the way and then merging back to the master goal of conquering Bowser.(Ruling the world, one client at a time)
      </p>
    </div>
    <!-- HTML5 -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("ruby_badge.sh-250x250.png", alt: "Ruby Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consectetur aliquid maxime facere accusamus harum similique ullam, modi distinctio, voluptatum corporis optio inventore, dolorem quia qui impedit consequuntur atque repellendus?
      </p>
    </div>
  </div> <!-- closes third row -->
</section>