<section class="debug skills-section container col-md-12">
  <h1>The Stack</h1>
  <div class="debug row">
    <div class="debug col-md-12">
      <p>The list keeps growing and growing.  I enjoying learning new languages and evolve with them as they change.</p>
    </div>
  </div>
  <div class="debug row">
    <!-- Ruby -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("ruby_badge.sh-250x250.png", alt: "Ruby Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
      <!-- Ruby on Rails -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("rubyonrails_shaped.sh-250x250.png", alt: "Ruby on Rails Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
    <!-- Sinatra -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("sinatra-333x250.jpg", alt: "Sinatra", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
  </div> <!-- closes first row -->
  <div class="debug row">
    <!-- JavaScript -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("js_bumper.sh-250x250.png", alt: "JavaScript Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
    <!-- jQuery -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("jquery_bumper.sh-250x250.png", alt: "jQuery Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
    <!-- HTML5 -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("html5-250x250.png", alt: "HTML 5 Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
  </div> <!-- closes second row -->
  <div class="debug row">
    <!-- CSS 3 -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("css3-250x250.png", alt: "CSS 3 Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
    <!-- Git -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("git_badge-250x250.png", alt: "Ruby Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
    <!-- HTML5 -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("ruby_badge.sh-250x250.png", alt: "Ruby Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
  </div> <!-- closes third row -->
</section>