<h1 class="sr-only">Welcome</h1>

<%= render 'partials/intro_section' %>

<%= render 'partials/about_me_section' %>

<%= render 'partials/skills_section' %>

<%= render 'partials/history_section' %>

<%= render 'partials/interests_section' %>