<h1>Hello, World!</h1>

<%= render 'partials/intro_section' %>

<%= render 'partials/about_me_section' %>

<%= render 'partials/skills_section' %>

<section class="debug history-section container">
  <div class="debug row">
    <!-- CSS 3 -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("css3-250x250.png", alt: "CSS 3 Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
    <!-- Git -->
    <div class="debug col-md-4 col-xs-12">
      <figure>
        <%= image_tag("git_badge-250x250.png", alt: "Ruby Badge", class: "image-responsive") %>
        <figcaption><h4>The Meat</h4></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus perferendis fugit quod ullam accusantium est nemo iste vero laboriosam optio saepe, nobis magni debitis veritatis placeat aspernatur pariatur doloremque.</p>
    </div>
  </div> <!-- closes third row -->
</section>