<h1 class="sr-only">Welcome</h1>

<%= render 'partials/change_background_color_section' %>

<%= render 'partials/intro_section' %>

<%= render 'partials/about_me_section' %>

<%= render 'partials/skills_section' %>

<%= render 'partials/projects_section' %>

<%= render 'partials/canvas_section' %>

<%# render 'partials/video_section' %>

<%= render 'partials/history_section' %>

<%= render 'partials/interests_section' %>


