<!-- <%# cache do %> -->
<section class="projectsSection">
  <h2>Projects</h2>
  <h3>Cache Stats</h3>
    <% @projects.each do |project| %>
    <div id="project<%= project.id %>" class="projectCard">
      <h3 class="projectCard__header"><%= project.name %></h3>
      <%= link_to project.url do %>
      <%= image_tag(project.avatar.url(:medium),
      width: "300",
      height: "300",
      alt: "#{project.description}") %>
      <% end %>
      <span>Description: </span><p><%= project.description %></p>
      <span>Purpose:     </span><p><%= project.purpose     %></p>
      <span>Technology:  </span><p><%= project.technology  %></p>
      <span>Project Url: </span>
      <p>
        <%= link_to project.url, class:"projectCard__url" do %>
        <%= project.url %>
        <% end %>
      </p>
    </div>
    <% end %>
</section>
<% end %>
