<h1><%= @project.name %> Edit Page</h1>

<section>
  <figure class="projectSection__figure">
    <%= link_to "#{@project.url}", class:"projectSection__Link" do %>
      <%= image_tag("",
      data:   "#{@project.avatar.url}",
      width:  "300",
      height: "300",
      alt: "#{@project.description}",
      class: " projectSection__image") %>
    <% end %>
    <!-- FORM -->
    <%= render "projects/form" %>
  </figure>
  <div class=" crudLinks">
    <%= link_to "Edit Project Page", edit_project_path(@project) %>
    <%= link_to "Delete Project", project_path(@project),
      data: {
        confirm: "Are you sure you want to delete this project?",
        method: :delete
      } %>
    <%= link_to "All Projects Page", projects_path %>
    <%= link_to 'Load new Project', new_project_path %>
  </div>
</section>
