<h1 class="debug">Project Index</h1>

<% @projects.each do |project| %>
  <section class="debug">
    <h2 class="debug"><%= project.name %></h2>

    <figure class="debug projectSection__figure">
      <%= link_to "#{project.url}", class:"projectSection__Link" do %>
        <%= image_tag("#{project.avatar.url}", width: "500", height: "500", alt: "#{project.description}", class: "debug projectSection__image") %>
      <% end %>

      <figcaption class="debug projectSection__figcaption">
        <ul class="debug">
          <li>Description: <%= project.description %></li>
          <li>Purpose: <%= project.purpose %></li>
          <li>Technology: <%= project.technology %></li>
          <li>Project Url: <%= project.url %></li>
        </ul>
      </figcaption>
    </figure>

    <div class="debug crudLinks">
      <ul class="debug crudLinkContainer">
        <li class="debug">
          <%= link_to "All Projects Page", projects_path, class:"crudLinkContainer_link" %>
        </li>
        <li class="debug">
          <%= link_to 'Load New Project', new_project_path, class:"crudLinkContainer_link" %>
        </li>
        <li class="debug">
          <%= link_to "Edit Project Page", edit_project_path(project), class:"crudLinkContainer_link" %>
        </li>
        <li class="debug">
          <%= link_to "Delete Project", project_path(project), data: { confirm: "Are you sure you want to delete this project?", method: :delete }, class:"crudLinkContainer_link" %>
        </li>
      </ul>
    </div>


  </section>
<% end %>
