<h1 class="debug">Project Index</h1>

<% @projects.each do |project| %>
<ul class="debug">
  <li>Avatar: <%= project.avatar.url(:medium) %></li>
  <li>Name: <%= project.name %></li>
  <li>Description: <%= project.description %></li>
  <li>Purpose: <%= project.purpose %></li>
  <li>Technology: <%= project.technology %></li>
  <li>Project: <%= project.url %></li>
</ul>

<% end %>
