<section class="projectsSection">
  <div class="project<%= @project.id %> projectCard">
    <h3 class="projectCard__header"><%= @project.name %></h3>
    <%= link_to @project.url do %>
      <%= image_tag(@project.avatar.url(:medium),
      width:  "300",
      height: "300",
      alt:    "#{@project.description}") %>
    <% end %>
    <span>Description: </span><p><%= @project.description %></p>
    <span>Purpose:     </span><p><%= @project.purpose     %></p>
    <span>Technology:  </span><p><%= @project.technology  %></p>
    <span>Project Url: </span>
    <p>
      <%= link_to @project.url, class:"projectCard__url" do %>
      <%= @project.url %>
      <% end %>
    </p>
    <div>
      <%= link_to "Edit", edit_project_path(@project) %>
      <%= link_to "Delete",    project_path(@project),
      data: {
        confirm: "Are you sure you want to delete this project?",
        method: :delete
        } %>
        <%= link_to "Show all Projects", projects_path %>
    </div>
  </div>
</section>
