<!DOCTYPE html>
<html>
<head>
  <title>Dillon Downey's Personal Website</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
<!-- ########################### -->
<!-- PolyFill for IE and Safari HTML5 input type color -->
<!-- ########################### -->
<!-- <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.0/spectrum.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.1/spectrum.min.css"> -->
<!-- ########################### -->
<!-- ##########  END  ########## -->
<!-- ########################### -->
</head>



<body>
  <h1 class="sr-only">Dillon Downey's Web Portfolio</h1>
  <!-- NAVBAR -->
  <nav class="debug blue flex-nav">
    <h1 id="main-h1" class="sr-only flex-item">Main Navigation</h1>
    <a class="flex-item" href="https://downeyd27.github.io/blog/blog-index.html">Blog</a>
    <a class="flex-item" href="https://resume.creddle.io/resume/1rktq4ubpei">R&#233;sum&#233;</a>
  </nav>
  <%# render 'partials/navbar_top' %>
  <main>
    <div class="flex-container">
      <h1 class="debug flex-item"><span translate="no">Dillon Downey</span> - Junior Web Developer</h1>
    </div>
    <div class="flex-container">
      <section id="portfolio-pic-section" class="debug flex-item" itemscope itemtype="http://schema.org/Person">
        <!-- MAIN PICTURE OF ME -->
        <figure class="debug" itemprop="image">
          <%= image_tag("Dillon-900x600.jpg", width: "800", height: "600", alt: "Dillon Downey\'s portfolio picture") %>
          <figcaption>
            <h2>Dev BootCamp Graduate Seeking Web Developer Opportunities </h2>
          </figcaption>
          <nav id="figure__nav" class="debug flex-container social-media-nav text-center" itemscope itemtype="http://schema.org/Person">
            <h2 class="sr-only">Social-media Navigation</h2>
            <a class="flex-item" href="mailto:downeydillon@gmail.com" itemprop="email">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a class="flex-item" href="https://twitter.com/downeydillon1" itemprop="url">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>
            <a class="flex-item" href="https://github.com/downeyd27" itemprop="url">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a class="flex-item" href="https://www.linkedin.com/in/dillondowney" itemprop="url">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
              </span>
            </a>
          </nav>

          <%# render 'partials/social_media_nav' %>
        </figure>

      </section>
      <section id="about-me-section" itemscope itemtype="http://schema.org/Person" class="debug flex-item">
        <h2 class="debug center">About Me</h2>
        <p class="debug">
          Hi, my name is <span itemprop="name" translate="no" >Dillon</span><span itemprop="familyName" translate="no">Downey</span>
          I recently made a career change and graduated from Dev Bootcamp</span> in <time datetime="2015-05">May 2015</time>.  Prior to attending DBC, I was a Store Manager for <span translate="no">GNC</span>(General Nutrition Center) in the San Francisco region for the last three years where my store was ranked in the top five.  Through personal acquaintances I became intrigued by the tech industry.  As I researched the possibility of becoming a <span itemprop="JobTitle">web developer</span>, I discovered this would be a fulfilling path to utilize my creativity and analytical thinking. Having gone through <span itemprop="alumniof"translate="no"> Dev BootCamp</span>’s 19-week intensive course, I feel my decision is the right one and I look forward to the many challenges and opportunities that the tech community will provide.  I am excited to incorporate my skills and experience I have acquired in a new position within the industry.
          </p>
      </section>
    </div>
    <section id="projects-section" class="debug">
      <div class="flex-container">
        <h2 class="debug flex-item">Projects</h2>
      </div>
      <div class="flex-container">
        <div class="debug flex-item">
          <a href="//github.com/downeyd27/yago_exp"><%= image_tag('team-yago-550x413.jpg', alt: "Team Yago", class: 'project-image') %></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="flex-item">
          <a href="http://dillondowney.herokuapp.com/">
            <%= image_tag('website-project-360x360.png', alt: "Dillon Downey's Personal Website", class: 'project-image') %>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere praesentium odit, dolore consequuntur consequatur voluptatem quae harum suscipit cupiditate dolores illum, laborum dolor qui et doloremque voluptas eum adipisci similique.</p>
        </div>
      </div>
    </section>

    <%# yield %>
  </main>

  <!-- FOOTER -->
  <footer class="debug">
    <h1 class="sr-only">Footer</h2>
    <nav id="footer__nav" class="debug flex-container social-media-nav text-center" itemscope itemtype="http://schema.org/Person">
      <h2 class="sr-only">Dillon Downey's social-media / contact navigation</h2>
      <a class="flex-item" href="mailto:downeydillon@gmail.com" itemprop="email">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a class="flex-item" href="https://twitter.com/downeydillon1" itemprop="url">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a>
      <a class="flex-item" href="https://github.com/downeyd27" itemprop="url">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a class="flex-item" href="https://www.linkedin.com/in/dillondowney" itemprop="url">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
        </span>
      </a>
    </nav>
    <%# render 'partials/social_media_nav' %>
  </footer>

  <%# render 'partials/footer.html' %>




  <!-- At bottom of page so page will load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" defer></script>
</body>
</html>
