<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <!-- Stylesheets need to be before meta tags.  New Relic
  creates a script tag that gets inserted after meta content='IE=edge'  -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/favicon' %>
  <%= render 'layouts/shim' %>
  <!-- TODO: <title>Dillon Downey | Index</title> and <title>Dillon Downey's | Index</title> both render due to display_meta_tags method. -->
  <!-- TODO: 2 inline script blocks were found in the head between an external CSS file and another resource. To allow parallel downloading, move the inline script before the external CSS file, or after the next resource. -->
</head>
<body class="<%= controller_name %> <%= action_name %> site" itemscope itemtype="http://schema.org/Person">
  <h1 class="sr-only">Dillon Downeys Website</h1>
  <%= link_to "Skip to main content", "#mainSection", class:"sr-only" %>
  <%= link_to "Skip to project section", "#projectSection", class:"sr-only" %>
  <%= link_to "Skip to footer", "#footerSection", class:"sr-only" %>
  <%= render "layouts/navbar" %>
  <%= render "layouts/flash_message" %>
  <main id="mainSection" class="siteContent">
    <%= yield %>
  </main>
  <%= render 'layouts/footer.html' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, defer: :async %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGBtVUUvwx9VDfDFE0qk1EjzAcAuo05uE&callback=initMap">
  </script>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
