<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title><span translate="no">Dillon Downey</span>'s Personal Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
=======
  <title>Dillon Downey's Personal Site</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
>>>>>>> resume
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><span translate="no">Dillon Downey</span>'s Personal Website</h1>
  <%= render 'partials/navbar_top' %>
<!-- Main -->
  <main class="main-container container">
    <%= yield %>
  </main>

  <%= render 'partials/footer.html' %>

</body>
</html>
