<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <!-- <meta http-equiv="refresh" content="30"> -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- TODO: Figure out why old favicon will not change -->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <a href="#main-section" class="sr-only">Skip to main content</a>
  <a href="#projects-section" class="sr-only">Skip to projects section</a>
  <!-- ################################# -->
  <!-- ###########  NAVBAR ############# -->
  <%= render 'partials/navbar_top' %>
  <!-- ###########  NAVBAR ############## -->
  <!-- ################################## -->
  <main id="main-content">
    <!-- ################################# -->
    <!-- ############# YIELD ############# -->
    <%= yield %>
    <!-- ############# YIELD ############# -->
    <!-- ################################# -->

    <!-- ################################# -->
    <!-- ###########DEBUG PARAMS########## -->
    <%# debug(params) if Rails.env.development? %>
    <!-- ###########DEBUG PARAMS########## -->
    <!-- ################################# -->
  </main>

  <!-- ################################# -->
  <!-- ############ FOOTER ############# -->
  <%= render 'partials/footer.html' %>
  <!-- ############ FOOTER ############# -->
  <!-- ################################# -->

  <!-- At bottom of page so page will load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer> </script>
</body>
</html>
