<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="refresh" content="30"> -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
  <!-- TODO: Figure out why old favicon will not change -->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <h1 class="sr-only">Dillon Downey's Website</h1>
  <a href="#mainSection" class="sr-only">Skip to main content</a>
  <a href="#projectsHeader" class="sr-only">Skip to projects section</a>
  <a href="#footerSection" class="sr-only">Skip to footer</a>
  <!-- ################################# -->
  <!-- ###########  NAVBAR ############# -->
  <%= render 'layouts/navbar_top' %>
  <!-- ###########  NAVBAR ############## -->
  <!-- ################################## -->
  <%= render "layouts/flash_message" %>
  <main id="mainSection" role="main">
    <!-- ################################# -->
    <!-- ############# YIELD ############# -->
    <%= yield %>
    <!-- ############# YIELD ############# -->
    <!-- ################################# -->

    <!-- ################################# -->
    <!-- ###########DEBUG PARAMS########## -->
    <%# debug(params) if Rails.env.development? %>
    <!-- ###########DEBUG PARAMS########## -->
    <!-- ################################# -->
  </main>

  <!-- ################################# -->
  <!-- ############ FOOTER ############# -->
  <%= render 'layouts/footer.html' %>
  <!-- ############ FOOTER ############# -->
  <!-- ################################# -->

  <!-- At bottom of page so page will load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer> </script>
</body>
</html>
